---
layout : layout
title : About
---
@model Pretzel.Logic.Templating.Context.PageContext

<h2>Company Beliefs</h2>
<p>Balance built mission statement is to provide the most environmentally friendly buildings possible, that simplify the building
    system that can be produced on a mass scale. We believe that we must consume with a conscious and think and educate our
    selves on the most cost effective and environmentally friendly products we use. Energy reduction methods must be a key
    component of design with our buildings, a well insulated and air tight as possible building envelope is essential to
    attaining a significant energy reduction.</p>

<p>We believe our homes should make us healthier with improved air quality a comfortable temperature all year round aiming for
    zero carbon foot print at an achievable price bracket.</p>
​
<p>Balance built want to make it affordably and easy for people on how to create a fantastic building envelope that is going
    to perform consistently for the life of the building. Balance Built have made it possible for people to achieve a fantastic
    foundation to build from. Integrity, sustainability, positive foot print, energy efficient.</p>

<p>Balance Built provide a wealth of knowledge and experience has packaged together a building that will be comfortable temperature
    all year round while saving money on energy use. Our designs stick to our core goals of making it possible that modern
    sustainable homes that can be delivered on a mass scale.</p>

<p>We are able to supply a complete package in a shipping container to any where required. That creates a superior building
    envelope that will perform consistently as originally designed as our building method results in a consistent quality
    build. The panels make for a simplified and systymized approach, workers are still able to produce a consistent finish
    to the build.</p>

<p>Balance built provides a superior building envelope that best quality insulation results in smaller heating systems are necessary
    and also air conditioning will be reduced dramatically. Energy savings can be upto 50% when combining the appropriate
    roof and wall panels, If double glazing is used in the windows upto 80% energy savings could be possible compared to
    the average uninsulated home.</p>