---
layout : layout
title : Balance Built Ptd Ltd
---
@model Pretzel.Logic.Templating.Context.PageContext
<div class="row">
    <div class="col-lg-12">

        <h4>Superior building system which we provide a highly insulated super strong building envelope made up of roof panels, wall
            panels and windows. </h4>
        <h4>Decreased build times.</h4>
        <h4>The future of Sustainable homes with increased star ratings, lower running costs.</h4>
        <h4>Flat pack home able to be transported in trucks and containers.</h4>
        <h4>Modern flexible designs to choose from which are comfortable and healthy to live in.</h4>
        <h4>Building system which easily fits to any sort of build required.</h4>
        <h4>Factory driven process with the highest of quality control.</h4>
        <h4>Company built on respect confidence efficiency to make it an enjoyable process.</h4>
        <h4>Wall panels contain the frame and external cladding and can contain internal cladding as well, windows slide in easy
            while the roof panels sit straight on top.The building is then locked up.</h4>
        <h4>Tread lightly incorporate plants into your home with a green houses controlling air circulation with HRV units. Healthy
            homes are happy homes.</h4>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <a href="studio.html">
        <h3>Studio Design</h3>
        <img src="img/studio-render.webp" alt="Studio Design" />
        </a>
    </div>
</div>